<h2 mat-dialog-title>
  Login
  <button mat-icon-button mat-dialog-close aria-label="Close dialog">
    <mat-icon>close</mat-icon>
  </button>
</h2>
<mat-dialog-content>
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <!-- Campo de email -->
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="email"
        type="email"
        placeholder="Enter your email"
      />
      <mat-error *ngIf="email?.hasError('required')"
        >Email is required</mat-error
      >
      <mat-error *ngIf="email?.hasError('email')"
        >Please enter a valid email</mat-error
      >
    </mat-form-field>

    <!-- Campo de contraseña -->
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        formControlName="password"
        type="password"
        placeholder="Enter your password"
      />
      <mat-error *ngIf="password?.hasError('required')"
        >Password is required</mat-error
      >
      <mat-error *ngIf="password?.hasError('minlength')">
        Password must be at least 6 characters long
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-raised-button
    color="primary"
    (click)="submit()"
    [disabled]="loginForm.invalid"
  >
    Login
  </button>
</mat-dialog-actions>
